.buttonGroup {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
}

.binderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 42px 0px 42px;

  .binder {
    > figure {
      padding-top: 0;
      height: 250px;
      border-bottom-right-radius: 0px;
      width: 336px;

      > img {
        height: inherit;
        object-fit: cover;
      }
    }
  }

  button {
    position: relative;
    bottom: 64px;
  }
}
