.shimmerWrapper {
  .shimmer {
    width: 160px;
    height: 200px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    cursor: pointer;
    transition: 0.2s;

    &.horizontal {
      width: 200px;
      height: 160px;
    }

    &.selected {
      border: 2px solid #999999;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
      border-radius: 16px;
    }
  }

  .details {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
  }
}
