@import "../../assets/styles/global.module.scss";

.menuSection {
  cursor: pointer;

  nav {
    background-color: $white5;
    border-radius: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: max-content;
    z-index: 2;
    // backdrop-filter: blur(30px);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 20px 16px 20px;
    }

    li {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;

      svg {
        color: $primaryColor;
      }

      a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        color: $primaryColor;
        display: block;
        margin-left: 16px;
        padding-bottom: 8px;
        text-decoration: none;
        width: calc(100% - 50px);
      }
    }

    li:last-child {
      margin-bottom: 0;

      a {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .section {
      border-bottom: 1px solid $primaryColor;
      padding-bottom: 8px;

      a {
        border: 0;
        padding-bottom: 0;
      }
    }

    .withArrow a {
      align-items: center;
      display: flex;

      &::after {
        background-image: url("../../assets/svg/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        height: 8px;
        margin-left: 8px;
        width: 14px;
      }
    }

    .title {
      margin-bottom: 16px;
      a {
        border: 0;
      }

      svg {
        height: 20px;
        transform: rotateY(180deg);
        width: 12px;
      }
    }

    .checkGreen {
      color: map-get($green, 1);
      font-weight: 600;

      svg {
        fill: map-get($green, 1);
      }

      a {
        align-items: center;
        color: map-get($green, 1);
        display: flex;

        &::after {
          background-image: url("../../assets/svg/checkGreen.svg");
          background-position: center;
          background-repeat: no-repeat;
          content: "";
          height: 10px;
          margin-left: 8px;
          width: 13px;
        }
      }
    }

    .checkBlack {
      color: $primaryColor;
      font-weight: 600;

      svg {
        color: $black;
      }

      a {
        align-items: center;
        display: flex;

        &::after {
          background-image: url("../../assets/svg/check.svg");
          background-position: center;
          background-repeat: no-repeat;
          content: "";
          height: 10px;
          margin-left: 8px;
          width: 13px;
        }
      }
    }
  }
}
