@import "../../assets/styles/mixins.module.scss";

.container {
  .header {
    padding: 36px 46px 24px 46px;
    height: auto;

    .row {
      @include flex(row, space-between, center);

      &:nth-child(2) {
        padding-top: 16px;
      }
    }
  }

  > .row {
    @include flex(row, space-between, center);
    padding: 0px 46px 21px 46px;
    margin-top: -20px;
  }

  .section {
    padding: 0px 46px;
    min-height: 200px;

    .separator {
      padding-top: 80px;
    }

    .legend {
      &:nth-child(n + 2) {
        position: relative;
        top: 24px;
      }
    }

    .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 24px;

      &:nth-child(n + 3) {
        padding-top: 48px;
        padding-bottom: 80px;
      }
    }
  }

  .footer {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
