@import "../../assets/styles/palette.module.scss";

.register {
  display: grid;
  grid-template-areas:
    "header header header"
    "a a b";
  grid-template-rows: 1fr;
  max-width: 768px;
  margin: auto;

  .header {
    grid-area: header;
    margin-left: 22px;

    h1 {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    p {
      cursor: pointer;
    }
  }

  form {
    margin: 25px 22px 80px 22px;
    padding-right: 22px;
    grid-area: a;
    border-right: 1.5px solid $gray5;

    h2 {
      margin-block-start: 0;
    }

    .group {
      margin-bottom: 55px;

      > div {
        &:first-child {
          padding-top: 0px;
        }
      }

      .row {
        display: flex;
        flex-direction: row;

        div {
          &:not(:first-child) {
            margin-left: 12px;
          }
        }
      }
    }
  }
}
