@import "../../../assets/styles/global.module.scss";

@include intro(
  $primaryColor,
  30%,
  -90%,
  100vw,
  $black1,
  linear-gradient(180deg, #f9f9f9 0%, #efefef 100%),
  $black1,
  10deg,
  4
);

.introWrapper {
  div {
    img {
      object-fit: none !important;
      object-position: top left !important;
    }
  }
}
