@import "../../assets/styles/global.module.scss";

.bottomHeaderNav {
  background-color: $white5;
  backdrop-filter: blur(30px);
  bottom: 0;
  left: 50%;
  max-width: 1200px;
  padding: 16px 20px 16px 70px;
  position: fixed;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -webkit-backdrop-filter: blur(30px);
  width: 100%;

  @media only screen and (max-width: 650px) {
    padding: 16px 20px;
  }

  ul {
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: 400px) {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      @include fonts(
        $color: $black,
        $font-size: 16px,
        $font-weight: 500,
        $line-height: 1.25
      );
      align-items: center;
      cursor: pointer;
      display: flex;
      font-family: "SanFrancisco-Display-Regular", sans-serif;
      opacity: 0.45;

      &::before {
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        margin-right: 8px;
      }

      a {
        @include fonts(
          $color: $black,
          $font-size: 16px,
          $font-weight: 500,
          $line-height: 1.25
        );
        opacity: 0.45;
        text-decoration: none;
      }
    }
  }

  .trash {
    &::before {
      height: 30px;
      width: 30px;
    }
  }

  .file {
    &::before {
      height: 30px;
      width: 30px;
    }
  }

  .share {
    &::before {
      height: 30px;
      width: 30px;
    }
  }

  .checked {
    opacity: 1;

    a {
      opacity: 1;
    }
  }
}
