.appWrapper {
  .background {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  main {
    height: 100%;

    &.overflowless {
      position: relative;
      overflow: hidden;
      height: 100vh;
    }
  }
}
