@import "../../assets/styles/global.module.scss";

.cardBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4c4c4c;
  opacity: 0.4;
  z-index: 1;
}

.cardWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .card {
    position: relative;
    background: $white5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    padding: 28px 0px;
    width: 420px;
    height: 539px;
  }
}
