@import "../../assets/styles/palette.module.scss";

.boardsWrapper {
  padding: 25px 56px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #fff, #dad4d7);
  min-height: calc(100vh - 150px);
  height: 100%;

  .boards {
    padding: 25px 0px;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 555px) {
      justify-content: center;
    }
  }

  .noBoards {
    position: relative;
    height: calc(100vh - 250px);
    width: calc(100vw - 112px);

    .arrow {
      position: absolute !important;
      width: 151.43px;
      height: 130.97px;
      right: 60px;
    }

    .face {
      position: absolute !important;
      top: 133px;
      left: calc(50% - 193.64px / 2);
      width: 193.64px;
      height: 243.76px;
    }

    span {
      position: absolute !important;
      top: 430px;
      left: calc(50% - 225px / 2);
    }
  }

  .carousel {
    width: 100%;

    li {
      padding-bottom: 334px !important;
    }

    [class~="carousel__dot-group"] {
      text-align: center;
    }

    [class~="carousel__dot--selected"] {
      background-color: #dad4d7;
      border: 2px solid $primaryColor;
      border-radius: 100%;
      height: 13px;
      line-height: 13px;
    }

    button {
      background-color: $primaryColor;
      border: 0;
      border-radius: 100%;
      height: 12px;
      margin-right: 8px;
      width: 10px;
    }
  }
}
