.buttonWrapper {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -webkit-transform: translateX(-50%);
}

.nextButton,
.prevButton {
  fill: #4c4c4c;
  height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  width: 12px;
}
.prevButton {
  transform: rotateY(180deg);
}

.paddingStep {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  border-radius: 100px;
  bottom: 33px;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: center;
  mix-blend-mode: normal;
  position: absolute;
  width: 54px;
}

.paddingStepNext {
  right: 33px;
}

.paddingStepPrev {
  left: 33px;
}
