@import "../../../assets/styles/palette.module.scss";

.boardTabs {
  padding-top: 29px;

  .tabContainer {
    border-bottom: 2px dashed #999999;

    .tab {
      position: relative;
      top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #999999;
      font-weight: normal;
      font-size: 18px;
      line-height: 15px;
      padding: 5px 15px;
      width: fit-content;
      height: 41px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      span {
        color: $white5;
      }
    }
  }
}
