@import "../../../assets/styles/global.module.scss";

.carouselBoard {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.board {
  margin-right: 53px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: 0.2s;

  @media only screen and (max-width: 555px) {
    margin-right: 0px;
  }

  &:hover {
    @for $i from 1 through 50 {
      &:nth-child(1n + #{$i}) {
        transform: rotate(random(10) - 5 + deg);
      }
    }

    .boardSnapshotContainer {
      border-left-color: #000;
      border-top-color: #000;
      border-right-color: #000;
      border-bottom: none;
    }

    .boardTitleContainer {
      border-left-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-top: none;
      padding: 12px;
    }
  }

  .boardSnapshotContainer {
    width: 200px;
    height: 230px;
    border: solid 2px #e9e9e9;
    background-color: #fff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  .boardTitleContainer {
    width: 200px;
    height: auto;
    background-color: #e8e8e8;
    padding: 10px 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: solid 2px #e9e9e9;
  }
}
