.checkboxWrapper {
  display: flex;
  padding-top: 18px;

  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .label {
    margin-left: 14px;
  }
}
