@import "../../assets/styles/global.module.scss";

.binders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px 74px;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
  }

  @media only screen and (max-width: 880px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 55px;
  }

  @media only screen and (max-width: 720px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 45px 0;
  }

  section {
    div:first-child {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

section {
  .manual {
    width: 233px;
    margin: 0 27.5px 30px 27.5px;

    @media only screen and (max-width: 1200px) {
      margin: 0 10px 30px 10px;
      width: 257px;
    }

    @media only screen and (max-width: 880px) {
      margin: 0 25px 30px 25px;
      width: 309px;
    }

    @media only screen and (max-width: 720px) {
      margin: 0 0 30px 0;
      width: 670px;
    }

    figure {
      width: 233px;

      @media only screen and (max-width: 1200px) {
        width: 257px;
      }

      @media only screen and (max-width: 880px) {
        width: 309px;
      }

      @media only screen and (max-width: 720px) {
        width: 670px;
      }
    }
  }
}

.carousel {
  li {
    padding-bottom: 460px !important;

    @media only screen and (max-width: 1200px) {
      padding-bottom: 465px !important;
    }

    @media only screen and (max-width: 1110px) {
      [class~="carousel__inner-slide"] {
        display: flex;
        justify-content: center;
      }
    }

    @media only screen and (max-width: 880px) {
      padding-bottom: 500px !important;
    }
  }

  [class~="carousel__dot-group"] {
    text-align: center;
  }

  [class~="carousel__dot--selected"] {
    background-color: $white5;
    border: 2px solid $primaryColor;
    border-radius: 100%;
    height: 13px;
    line-height: 13px;
  }

  button {
    background-color: $primaryColor;
    border: 0;
    border-radius: 100%;
    height: 12px;
    margin-right: 8px;
    width: 10px;
  }
}
