@import "../../../assets/styles/global.module.scss";

.card {
  width: 400px !important;
  height: 400px !important;

  .login {
    display: flex;
    flex-direction: column;
    padding: 0px 43px;
    width: 100%;
    height: 100%;

    .logoWrapper {
      display: inherit;
      width: inherit;
      justify-content: center;
      padding-bottom: 12px;
    }

    > button {
      margin-top: 16px;

      .socialNetworkLogo {
        margin-right: 16px;
        width: 18px;
        height: 18px;
      }

      &:nth-child(4) {
        margin-top: 24px;
      }
    }

    > .registerWrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      bottom: 24px;
      right: 0;
      left: 0;

      span {
        &:last-child {
          cursor: pointer;
        }
      }

      > button {
        padding: 0px !important;
      }
    }
  }
}
