@import "../../../assets/styles/palette.module.scss";

.progress {
  padding: 25px 22px 80px 0px;
  grid-area: b;

  > .spanWrapper {
    position: relative;

    &.active {
      > span {
        color: $black;
      }
    }

    > span {
      transition: 0.2s;
      color: $gray5;
    }

    &:first-child {
      top: 51px;
    }

    &:nth-child(2) {
      top: 250px;

      > span {
        font-weight: bold;
      }
    }

    &:nth-child(3) {
      top: 260px;
    }

    &:nth-child(4) {
      border-top: 1.5px solid $gray7;
      top: 425px;
    }

    &:nth-child(5) {
      border-top: 1.5px solid $gray7;
      top: 610px;
    }
  }

  button {
    position: relative;
    top: 300px;
    left: 30px;
  }
}
