@import "../../../assets/styles/palette.module.scss";

.boardHeaderWrapper {
  height: 200px;
  width: 100%;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;

  .boardHeader {
    position: relative;
    height: inherit;

    &.backgroundless {
      border-bottom: 1px solid #c4c4c4;
      margin: 0px 56px;

      .topContainer {
        width: 100%;
        margin: unset;
      }
    }

    &.bottomBorderless {
      border-bottom: unset !important;
    }

    .topContainer {
      position: absolute;
      display: flex;
      height: 200px;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 112px);
      margin: 0px 56px;

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0px;

        > div {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;

          > span {
            color: $secondaryColor;
          }

          svg {
            cursor: pointer;
          }

          &.topLeft {
            justify-content: left;

            .back {
              cursor: pointer;
              display: inherit;
              flex-direction: row;

              span {
                display: flex;
                align-items: center;
                font-size: 17px;
              }

              svg {
                width: 12px;
                transform: scale(-1);
                margin-right: 13px;
              }
            }
          }

          &.topRight {
            justify-content: flex-end;

            .menu {
              ul {
                li {
                  flex-wrap: unset;
                }
              }
            }

            > svg:nth-child(2) {
              height: 30px;
              width: 30px;
              margin-left: 13px;
            }

            .visualizationMenu {
              svg {
                width: 24px;
              }
            }
          }
        }
      }

      .bottom {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 22px 0px;

        .bottomLeft {
          display: flex;
          flex-direction: column;
          height: 100%;

          span {
            line-height: 15px;
            font-weight: bold;

            &:first-child {
              font-size: 44px;
            }

            &:nth-child(2) {
              font-size: 24px;
              padding-top: 22px;
            }
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 22px;
      box-shadow: 0px 5px 10px 5px $gray2;
    }
  }
}
