.terms {
  padding: 22px;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  .title {
    width: 174px;
    margin: auto;
    padding-bottom: 23px;
  }
}
