@import "./palette.module.scss";

@mixin intro(
  $wrapperBackground,
  $rectanguleLeftPos,
  $rectanguleRightPos,
  $rectanguleWidth,
  $rectanguleBoxShadow,
  $rectanguleBackgroundColor,
  $spanColor,
  $rotate,
  $introType
) {
  .introWrapper {
    background: $wrapperBackground;
    height: 100vh;

    .inclinedRectangule {
      position: absolute;
      left: $rectanguleLeftPos;
      top: $rectanguleRightPos;
      width: $rectanguleWidth;
      height: 200vh;
      transform: rotate($rotate);
      box-shadow: -5px 0 10px 0 $rectanguleBoxShadow;
      background: $rectanguleBackgroundColor;
    }

    span {
      position: absolute;
      font-family: "IBM Plex Sans";
      left: 50%;
      top: 35%;
      color: $spanColor;
      font-size: 49px;
      line-height: 55px;
      letter-spacing: -1.18px;
    }

    @if ($introType == 1) {
      span {
        top: 17%;
      }
    }

    @if ($introType == 3) {
      span {
        bottom: 20%;
        top: inherit;
      }
    }

    @if ($introType == 4) {
      span {
        top: 26%;
      }
    }

    @if ($introType == 1 or $introType == 4) {
      @media only screen and (max-width: 670px) {
        .inclinedRectangule {
          transition: 0.2s;
          height: 250vh;
        }

        span {
          transition: 0.2s;
          left: 40%;
        }
      }

      @if ($introType == 1) {
        @media only screen and (max-width: 500px) {
          .inclinedRectangule {
            transition: 0.2s;
            width: 300vw;
          }

          span {
            transition: 0.2s;
            left: 25%;
          }
        }
      }

      @if ($introType == 4) {
        .inclinedRectangule {
          height: 180vh;
          left: 42%;
        }

        @media only screen and (max-width: 500px) {
          .inclinedRectangule {
            transition: 0.2s;
            width: 300vw;
            left: 25%;
          }

          span {
            transition: 0.2s;
            left: 25%;
          }
        }
      }
    }

    @if ($introType == 2 or $introType == 3) {
      .inclinedRectangule {
        height: 170vh;
      }

      @media only screen and (max-width: 700px) {
        .inclinedRectangule {
          transition: 0.2s;
          left: 10%;
          width: 300vw;
        }

        span {
          transition: 0.2s;
          left: 30%;
        }
      }

      @media only screen and (max-width: 530px) {
        .inclinedRectangule {
          transition: 0.2s;
          left: 10%;
          width: 300vw;
          transform: rotate(10deg);
          height: 100vh;
        }

        span {
          transition: 0.2s;
          left: 20%;
        }
      }

      @media only screen and (max-width: 400px) {
        .inclinedRectangule {
          transition: 0.2s;
          left: 10%;
          width: 300vw;
          transform: rotate(3deg);
          height: 120vh;
        }

        span {
          transition: 0.2s;
          top: 10%;
          left: 20%;
        }
      }
    }
  }
}

@mixin fonts($color, $font-size, $font-weight, $line-height) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin buttonBase {
  border-radius: 28px;
  backdrop-filter: unset;
  opacity: unset;
  border: solid 2px #c4c4c4;
  height: 39px;
  width: 7px;
  padding: 0px 16px;

  &:hover {
    backdrop-filter: unset;
    border: solid 2px $gray8;
  }
}

@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin confirmationModal {
  display: flex !important;
  flex-direction: column !important;
  width: 455px !important;
  height: 146px !important;
  padding-right: 32px !important;
  padding-left: 32px !important;

  &.withExtraInformation {
    height: 203px !important;

    > span {
      &:nth-child(2) {
        padding-top: 8px;
      }
    }
  }

  &.withExtraInformationAndBinderInformation {
    height: 263px !important;
    padding: 24px 32px !important;

    > span {
      &:nth-child(2) {
        padding-top: 8px;
      }
    }

    > div {
      &:nth-child(3) {
        padding-top: 16px;
        padding-left: 15px;
      }

      &:nth-child(4) {
        padding-left: 15px;
      }
    }
  }

  .row {
    @include flex(row, space-between, flex-end);
    height: 100%;
  }
}
