@use 'sass:map';

$primaryColor: #262626;
$secondaryColor: #f7f7f7;
$red: (
  1: #cc0000,
  2: #c52323,
);
$orange: #f06d00;
$yellow: #e9cd00;
$green: (
  0: #00be3a,
  1: #457d3d,
  3: #3e933a,
);
$blue: #439ae5;
$purple: #5400ce;
$lilac: #5e0096;
$pink: #ef0067;
$black: #000;
$gray1: #dcdde0;
$gray2: #c2bebe61;
$gray3: #e8e8e8;
$gray4: #5e5e5e;
$gray5: #8c8c8c;
$gray6: #4c4c4c;
$gray7: #d9d9d9;
$gray8: #c4c4c4;
$black1: #0a0a0a;
$black2: #202020;
$black3: #606060;
$white1: #efefef;
$white2: #dcdde0;
$white3: #e1e1e1;
$white4: #eff6ea;
$white5: #ffff;
$white6: #e5e5e5;
