@import "../../../assets/styles/global.module.scss";

.binderHeader {
  align-items: center;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr auto;
  margin-bottom: 48px;

  h1 {
    margin: 0px;
  }

  p {
    margin: 0px;
  }

  .navigation {
    align-items: center;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    > svg {
      display: flex;
      grid-row: 1 / 3;
      margin: 0 auto;
      width: 30px;
      cursor: pointer;
    }

    .userOptionsIcon {
      width: 24px;
    }

    .menuPerfil {
      max-width: 300px;
      max-height: 500px;
      overflow-y: scroll;
      z-index: 2;

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      li {
        > span {
          margin-top: 12px;
          margin-left: 45px;

          .notificationBtn {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 15px;

            .checked {
              border: 2px solid #cc3e78;
              color: #cc3e78;
            }

            .checkedRefused {
              border: 2px solid #cc3e78;
              color: #cc3e78;
            }

            .accepted {
              border-radius: 20px 0px 0px 20px;
            }

            .refused {
              border-radius: 0px 20px 20px 0px;
            }

            button {
              background-color: transparent;
              border: solid 2px #c4c4c4;
              cursor: pointer;
              font-size: 14px;
              padding: 4px 0;
              text-align: center;
            }
          }
        }
      }

      &.notificationsMenu {
        li {
          a {
            border: 0;
          }

          span {
            display: block;
            margin-top: 12px;
            font-size: 14px;
            margin-left: 45px;
            padding-bottom: 20px;
            width: calc(100% - 22px);

            .notificationBtn {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              margin-top: 15px;

              .checked {
                border: 2px solid #cc3e78;
                color: #cc3e78;
              }

              .checkedRefused {
                border: 2px solid #cc3e78;
                color: #cc3e78;
              }

              .accepted {
                border-radius: 20px 0px 0px 20px;
              }

              .refused {
                border-radius: 0px 20px 20px 0px;
              }

              button {
                background-color: transparent;
                border: solid 2px #c4c4c4;
                cursor: pointer;
                font-size: 14px;
                padding: 4px 0;
                text-align: center;
              }
            }
          }
        }
      }
    }

    figure {
      margin: 0;
      position: relative;

      img {
        border: 2px solid $primaryColor;
        border-radius: 100px;
        width: 45px;
      }

      figcaption {
        align-items: center;
        background-color: map-get($red, 2);
        border: 2px solid $primaryColor;
        border-radius: 100px;
        bottom: -5px;
        display: flex;
        font-size: 12px;
        height: 18px;
        justify-content: center;
        left: 0;
        position: absolute;
        width: 18px;
        cursor: pointer;

        span {
          color: $secondaryColor;
        }
      }
    }
  }
}
