@import "../style.module.scss";

.buttonGroup {
  justify-content: center;
  flex-direction: column;

  > div {
    display: flex;
    justify-content: space-between;

    &.topGroup {
      padding-bottom: 18px;
    }
  }
}

.card {
  position: absolute;
  top: 135px;
  width: auto;
  height: auto;
  flex-direction: column;
  padding: 22px;
  z-index: 1;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);

  &.toTheRight {
    left: 120px;
  }

  .contentWrapper {
    .covers {
      padding-top: 8px;
      display: flex;
      flex-wrap: wrap;
      width: 226px;
      height: 300px;

      .cover {
        width: 100px;
        height: 120px;

        &:nth-child(2n) {
          margin-left: 26px;
        }

        &:nth-child(n + 3) {
          margin-top: 16px;
        }
      }
    }
  }
}

.binderWrapper {
  .binder > figure {
    height: 385px !important;
    width: 336px;
  }
}
